
/******************************************************************************
 * Elasticsearch Search Interface Styles
 *****************************************************************************/

search-facet {
  display: block;
  font-size: 1rem;
  border: solid #343a40 1px;
  border-radius: .25rem;
  overflow: hidden;
  margin-bottom: 2rem;
  width: 28rem;
}

search-facet h1.name {
  font-size: inherit;
  background-color: #343a40;
  color: #ccc;
  padding: .5rem;
  font-weight: bold;
  margin-bottom: 0;
  cursor: pointer;
  white-space: nowrap;
  display: flex;
}

search-facet .collapsed-icon {
  font-weight: bold;
  color: #ccc;
  font-family: monospace;
  font-size: 1.4rem;
  margin-left: auto;
}

search-facet .show-more {
  text-align: center;
  font-size: 1rem;
  background-color: #f4f4f4;
  color: #888;
  padding: .1rem 0;
  cursor: pointer;
}

search-facet-values {
  display: block;
}

search-facet-value {
  white-space: nowrap;
  padding: .2rem .5rem;
  border-top: solid #eee 1px;
  position: relative;
  cursor: pointer;
  color: #444;
  background-color: #fff;
  display: flex;
}

search-facet-value:first-child {
  border-top: none;
}

search-facet-value:hover {
  background-color: #f0f0f0;
}

search-facet-value.selected {
  background-color: #17a2b8;
  color: #fff;
}

search-facet-value .name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 1rem;
}

search-facet-value .doc-count {
  margin-left: auto;
}
